*{
  box-sizing: border-box;
}

.hidden{
  display: none;
}

.container{
  margin: 50px 100px;
}

h1{
  font-family: 'Bellota', cursive　!important;
  text-align: center;
}
h1::after{
  content: '';
  display: block;
  margin:0 auto;
  width: 20%;
  padding-top: 20px;
  border-bottom: solid 1.5px black;
}

h3{
  padding-top: 40px;
  padding-bottom: 20px;
}

.box{
  border-radius: 5px;
  min-height: 300px;
  width: 250px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.box:hover{
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

img{
  width: 250px;
  min-height: 180px;
}

.contents{
  text-align: center;
  margin-top: 10px;
}

.backend_form{
  padding-top: 5rem;
}

//fadeinのイベント
.fadein{
  opacity: 0;
  transform: translate(0,50px);
  transition: all 1500ms;
}
.fadein.scrollin{
  opacity: 1;
  transform: translate(0,0);
}
